<h1> hellobnj World </h1>
<div class="main">
  <h1> Item's List </h1>
  <div class="addItem">
    <input [(ngModel)]="newItem" class="addText">
    <button (click)="pushItem()">Add</button>
  </div>
  <ul>
    <li *ngFor="let i of items; let ind=index">
      {{i}}
      <span (click)="deleteItem(ind)">x</span>
    </li>
  </ul>
</div>


<form
#userForm="ngForm"
(ngSubmit)="onSubmit(userForm.value)">
  <input type="text" name="firstname" placeholder="firstname" ngModel>
<br/>
  <input type="text" name="lastname" placeholder="lastname" ngModel>
<br/>
<select name="languages" ngModel>
  <option value="c++">C++</option>
  <option value="c++">C++</option>
  <option value="c++">C++</option>
  <option value="c++">C++</option>
</select>

<input type="submit" value="submit">
</form>
